/* = Colors = */
/* Primary */
/* Neutral */
/* = Spacing = */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.dark-mode body {
  background-color: hsl(230, 17%, 14%);
}
.dark-mode body::before {
  background-color: hsl(232, 19%, 15%);
}
.dark-mode .header .wrapper .title {
  color: hsl(0, 0%, 100%);
}
.dark-mode .header .par {
  color: hsl(228, 12%, 44%);
}
.dark-mode .switch input + .slider {
  background: linear-gradient(0deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
.dark-mode .switch .slider:before {
  background-color: hsl(230, 17%, 14%);
}
.dark-mode .followers .card {
  background-color: hsl(228, 28%, 20%);
}
.dark-mode .followers .card .top_wrapper .nickname {
  color: hsl(228, 12%, 44%);
}
.dark-mode .followers .card .mid_wrapper .total_number {
  color: hsl(0, 0%, 100%);
}
.dark-mode .followers .card .mid_wrapper .par {
  color: hsl(228, 12%, 44%);
}

body {
  background-color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  position: relative;
}
body::before {
  content: "";
  background-color: hsl(225, 100%, 98%);
  position: absolute;
  height: clamp(14.75rem, 14.5739rem + 0.7512vw, 15.25rem);
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 0 0 1rem 1rem;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: hsl(230, 22%, 74%);
}

.slider:before {
  position: absolute;
  content: "";
  background-color: hsl(227, 47%, 96%);
  height: 1.125rem;
  width: 1.125rem;
  left: 4px;
  right: 4px;
  top: 0;
  bottom: 0;
  margin-block: auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.header {
  padding: 1.625rem;
  padding-block-end: 0.8125rem;
  font-weight: 700;
  display: grid;
  row-gap: 1.25rem;
}
.header .par {
  color: hsl(228, 12%, 44%);
}
.header .wrapper .title {
  font-size: 1.465625rem;
  color: hsl(230, 17%, 14%);
  margin-block-start: 0.5rem;
}
.header .dark_mode_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.followers {
  padding: 1.625rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.followers .facebook::before {
  background-color: hsl(208, 92%, 53%);
}
.followers .twitter::before {
  background-color: hsl(203, 89%, 53%);
}
.followers .instagram::before {
  background: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}
.followers .youtube::before {
  background-color: hsl(348, 97%, 39%);
}
.followers .card {
  background-color: hsl(227, 47%, 96%);
  padding-block: 2rem 1.5rem;
  display: grid;
  row-gap: 1.25rem;
  justify-items: center;
  text-align: center;
  border-radius: 0.25rem;
  position: relative;
  overflow: hidden;
}
.followers .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
}
.followers .card .top_wrapper {
  display: flex;
  gap: 0.5rem;
}
.followers .card .top_wrapper .nickname {
  font-size: 0.7777777778rem;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
}
.followers .card .mid_wrapper .total_number {
  font-size: 3.5rem;
  font-weight: 700;
  color: hsl(230, 17%, 14%);
  line-height: 1.25;
}
.followers .card .mid_wrapper .par {
  text-transform: uppercase;
  color: hsl(228, 12%, 44%);
  letter-spacing: 0.375rem;
  font-size: 0.7777777778rem;
}
.followers .card .bottom_wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.followers .card .bottom_wrapper .difference {
  font-weight: 700;
  font-size: 0.7777777778rem;
}
.followers .card .bottom_wrapper .increased {
  color: hsl(163, 72%, 41%);
}
.followers .card .bottom_wrapper .decreased {
  color: hsl(356, 69%, 56%);
}/*# sourceMappingURL=main.css.map */