@use "../abstracts/variables" as v;

.header {
    padding: v.$mobile-body-padding;
    padding-block-end: calc(v.$mobile-body-padding / 2);
    font-weight: v.$fw-bold;
    display: grid;
    row-gap: 1.25rem;

    .par {
        color: v.$text-clr;
    }

    .wrapper {

        .title {
            font-size: calc(v.$fs * 1.675);
            color: v.$text-num-clr;
            margin-block-start: .5rem;
        }
    }

    .dark_mode_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}