@use "../abstracts/variables" as v;

@mixin dark-mode() {
    body {
        background-color: v.$dark-main-bg-clr;

        &::before {
            background-color: v.$dark-top-bg-clr;
        }
    }

    .header {
        .wrapper {
            .title {
                color: v.$dark-text-num-clr;
            }
        }
    
        .par {
            color: v.$dark-text-clr;
        }
    }


    .switch {
        input + .slider {
            background: v.$dark-toggle;
        }
    
        .slider:before {
            background-color: v.$dark-main-bg-clr;
        }
    }

    .followers {

        .card {
            background-color: v.$dark-card-bg-clr;

            .top_wrapper {
                .nickname {
                    color: v.$dark-text-clr;
                }
            }

            .mid_wrapper {

                .total_number {
                    color: v.$dark-text-num-clr;
                }

                .par {
                    color: v.$dark-text-clr;
                }
            }
        }
    }

    .overview {

        .title {
            color: v.$dark-text-num-clr;
        }

        .card {
            background-color: v.$dark-card-bg-clr;

            .top_wrapper {
                color: v.$dark-text-clr;
            }

            .bottom_wrapper {
                .total_number {
                    color: v.$dark-text-num-clr;
                }
            }
        }
    }
}